@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #ece6df;
}

header {
    background-color: #640D5F;
    padding: 8px 8px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
} 

.title-cadastro {
    color: #FAF7F3;
    padding: 8px 0;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #FAF7F3;
    padding: 5px 0;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px; 
    background-color: #FAF7F3;
    transition: width 0.3s ease-in-out; 
}

.nav a:hover::after {
    width: 100%;
}

.container-form {
    max-width: 640px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.title-container {
    text-align: center;
    font-size: 32px;
    color: #640D5F;
    margin: 10px auto;
    padding: 8px 8px;
}

form label, form input, form button {
    display: block;
    color: #0D1164;
    width: 100%;
    outline: none;
    margin-bottom: 14px;
}

form input {
    font-size: 16px;
    height: 38px;
    padding: 0 16px;
}

input::placeholder {
    color: #0D1164;
}

form button {
    border: none;
    border-radius: 6px;
    background-color: #640D5F;
    color: #FAF7F3;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: #FAF7F3;
    border: solid 1.5px #640D5F;
    color: #0D1164;
    transition:  0.5s ease;
}

/*    
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
} */
/* 
input {
    width: 300px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #ccc6c6;
    outline: none;
    padding: 10px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 34px;
    text-transform: uppercase;
}

#adicionar-item {
    background-color: #b2d32e;
    cursor: pointer;
    color: #FFFFF0;
    font-weight: 400;
}

#adicionar-item:hover{
    background-color: #8FA31E;
    transition: 0.5s;
}

#limpar-item {
    background-color: #ED3500;
    color: #FFFFF0;
    font-weight: 400;
}

#limpar-item:hover {
    background-color: #c92e04;
    cursor: pointer;
    transition: 0.5s;
}

#atualizar-item {
    background-color: #fade0a;
    color: #fdfdfd;
    font-weight: 400;
}

#atualizar-item:hover {
    background-color: #f0cc3b;
    cursor: pointer;
    transition: 0.5s;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 1.5em;
}

tr, th {
    padding: 0.8em;
    border: solid 1px #ccc6c6;
}

#tabela {
    line-height: 32px;
    text-align: center;
}
  */
