.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

tr,
th {
  padding: 0.62rem;
  font-size: 1.2rem;
  color: #640d5f;
  border: solid 0.1rem #640d5f;
}

#tabela {
  line-height: 2rem;
  text-align: center;
}

#tabela button {
  padding: 0.37rem 0.75rem;
  margin: 0.12rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.87rem;
  cursor: pointer;
  transition: background 0.2s ease;
  display: inline-flex;
  align-items: center;
}

.btn-editar {
  background-color: #3498db;
  color: #fff;
}

.btn-editar:hover {
  background-color: #2980b9;
}

.btn-excluir {
  background-color: #e74c3c;
  color: #fff;
}

.btn-excluir:hover {
  background-color: #c0392b;
}

.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal h2 {
  font-size: 1.5rem;
  color: #640d5f;
  margin-bottom: 1rem;
}

.modal-content {
  background: #fff;
  padding: 1.25rem;
  max-width: 25rem;
  width: 90%;
  border-radius: 0.5rem;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form button[type="submit"],
.modal-content form button[type="button"] {
  margin: 0.5rem 0;
  width: 48%;
}

.modal-content form .botoes {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  table {
    width: 90%;
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 0.4rem;
  }

  #tabela button {
    padding: 0.37rem;
    gap: 0;
    justify-content: center;
  }

  #tabela button i {
    margin: 0;
  }

  #tabela button span {
    display: none;
  }

  .modal h2 {
    font-size: 1.2rem;
  }

  .modal-content {
    max-width: 20rem;   
    max-height: 90vh;  
    overflow-y: auto; 
    padding: 1rem;
  }

  .modal-content form input,
  .modal-content form button {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

} 

