.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 1.5rem; 
}

tr, th {
    padding: 0.62rem; 
    font-size: 1.2rem;
    color: #640D5F;
    border: solid 0.1rem #640D5F;
}

#tabela {
    line-height: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    table {
        width: 90%;
        font-size: 0.9rem;
    }

    th, td {
        padding: 0.4rem;
    }
}
 